/*
center header
float instructions left
float hidden word and letter buttons right, buttons below

*/






body {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    letter-spacing: 0.1em;
}
header {
    text-align: center;
}
header h1 {
    font-size: 3em;
}
main {
    width: 50%;
    display: flex;
}
main p {
    float: left;
}
footer {

}
.alphabet-container {

}
.underscore-array {
    
}
.gameoption {

}




/* .square {
    height: 50px;
    width: 50px;
    background-color: red;
} */