



body {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
}
header {
    text-align: center;
}
header h2 {
    margin: 40px;
}
input {
    font-size: 1em;
}
header h1 {
    font-size: 3em;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.left-container {
    width: 40%;
    margin: 50px;
}
.alphabet-container {
    width: 40%;
    margin: 50px;
}
.alphabet-container p {
    font-size: 10px;
}
.alphabet-container h2 {
    color: red;
}
.underscore-array {
    text-align: center;
    margin: 40px;
}

.letters {
    display: flex;
    flex-flow: row wrap;
}
.letters span button {
    padding: 20px 25px;
}
button {
    font-size: 0.5em;
    margin: 6px;
    border-radius: 50%;
    background-color: #3A99D9;
    color: white;
    padding: 20px;
    outline: none;
}
.invisible {
    visibility: hidden;
    left: -9999px;
}
.letters-guessed-array {
margin: 10px 10px 10px 0px;
color: purple;
}
.loser-image {
    margin: 0 auto;
}
footer {
    text-align: center;
}