



body {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
}
header {
    text-align: center;
}
header h1 {
    font-size: 3em;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.left-container {
    width: 40%;
    margin: 50px;
}
.left-container p{
    
}
.alphabet-container {
    width: 40%;
    margin: 50px;
}
.underscore-array {
    text-align: center;
    margin: 40px;
}

.letters {
    display: flex;
    flex-flow: row wrap;
}
.letters p {
    color: white;
}
.letters span button {
    padding: 20px 25px;
}
button {
    font-size: 0.5em;
    margin: 6px;
    border-radius: 50%;
    background-color: #3A99D9;
    color: white;
    padding: 20px;
    outline: none;
}
.invisible {
    display: none; 
}
.letters-guessed-array {
    margin: 40px;
}

footer {
    text-align: center;
}